@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: oklch(63.22% .254 20.85);
  --color-secondary: oklch(63.22% .18 20.85);
  --color-primary-muted: oklch(63.22% .2 20.85 / 30%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font);
}
